/*hsl(199, 70%, 20%)*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow: scroll;
	/*border: 1px solid black;*/
}

body {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
}

li {
	display: inline-block;
	padding: 0 15px;
}

h1 {
	text-align: center;
	color: white;
	/*-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;*/
}

h2 {
	text-align: center;
	padding: 10px 0;
}

/* Divs and whatnot */

.body {
	background: rgba(230, 230, 230, 0.9);
}

.header {
	height:	40px;
	width: 100%;
	background-color: hsl(199, 70%, 20%);
	border-width: 2px 0px;
	border-style: solid;
	border-color: black;
	min-width: 920px;
	overflow: hidden;
}

.logo {
	width: 30%;
	height: 100%;
	float: left;
	overflow: hidden;
}

.headerlistbox {
	width: 70%;
	float: right;
	margin: 10px 0;
}

.headerlist {
	.
}

.main {
	height: 3000px;
	width: 100%;
}

.about {
	.
}

.abouttext {
	width: 60%;
	height: 100%;
	float: left;

}

.aboutpic {
	width: 40%;
	float: right;
}

.aboutpicimg {
	width: 100%;
	border-width: 0 0 2px 2px;
	border-style: solid;
	border-color: black;
	/*min-width: 274px;
	min-height: 250px;*/
}

.banner {
	margin-bottom: 10px;
}

.bannerimg {
	border-width: 2px 0;
	border-style: solid;
	border-color: black;
}

.education {
	.
}

.educationtext{
	float: right;
	width: 70%;
}

.educationimg {
	float: left;
	width: 30%;
	height: 300px;
	border-width: 2px 2px 2px 0;
	border-style: solid;
	border-color: black;
}

.work {
	.
}

.recreational {
	.
}

.future {
	.
}

.footer {
	height: 100px;
	width: 100%;
	background-color: hsl(199, 70%, 20%);
	border-width: 2px 0px;
	border-style: solid;
	border-color: black;
	padding: 30px 35%;
	overflow: hidden;
}

/* Generic classes */

.inlineblock {
	display: inline-block;
}

.whitetext {
	color: white;
}

.font18 {
	font-size: 18px;
}

.paddinglr10 {
	padding: 0 10px;
}

.padding10 {
	padding: 10px;
}

.minwidth400 {
	min-width: 400px;
}

.minwidth550 {
	min-width: 550px;
}